.vscode/**
typings/**
out/**
test/**
src/**
tmp/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
node_modules
binary_modules
*.vsix
.npm-cache/**
.rm-debug-smoke/**
release.js
eslint.config.mjs
options-doc.py.unused
.github/**
**/__pycache__/**

!node_modules/@vscode/webview-ui-toolkit
